In [143]:
import pandas as pd

In [144]:
df = pd.read_csv("./data.csv")

In [145]:
df.head()

,agent,price,address,beds,baths,receptions
0,Countrywide Scotland - Shawlands Sales,"£160,000","Parklands View, Glasgow G53",2 beds,2 baths,1 reception
1,VMH Solicitors,"£199,950","Ravenscroft Gardens, Edinburgh EH17",3 beds,1 bath,1 reception
2,Cullertons,"£215,000","20 (2F2) Dean Park Street, Stockbridge EH4",1 bed,NaN,NaN
3,Stuart and Stuart WS,"£225,000","Harrison Road, Edinburgh EH11",1 bed,1 bath,1 reception
4,Avenue Road Estate Agents,"£210,000","7 Southhouse Crescent, Edinburgh EH17",3 beds,2 baths,2 receptions

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5769 entries, 0 to 5768
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   agent       5768 non-null   object
 1   price       5768 non-null   object
 2   address     5768 non-null   object
 3   beds        5537 non-null   object
 4   baths       4839 non-null   object
 5   receptions  4682 non-null   object
dtypes: object(6)
memory usage: 270.5+ KB

In [147]:
df.dropna(inplace=True)
df.drop(df[df.price=="price"].index,inplace = True)
df.drop(df[df.price=="POA"].index,inplace = True)
df.price =df.price.str.replace("£","").str.replace(",","").astype(int)

In [148]:
df.price

0       160000
1       199950
3       225000
4       210000
5       250000
         ...
5764    127000
5765    235000
5766    279500
5767    145000
5768    277995
Name: price, Length: 4548, dtype: int64

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4548 entries, 0 to 5768
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   agent       4548 non-null   object
 1   price       4548 non-null   int64
 2   address     4548 non-null   object
 3   beds        4548 non-null   object
 4   baths       4548 non-null   object
 5   receptions  4548 non-null   object
dtypes: int64(1), object(5)
memory usage: 248.7+ KB

In [150]:
df.beds = df.beds.str.replace(r"\D","").astype(int)
df.loc[df.beds > 5,"more_tan_5"] = True
df.drop(df[df.more_tan_5 ==True].index, inplace = True)

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4453 entries, 0 to 5768
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   agent       4453 non-null   object
 1   price       4453 non-null   int64
 2   address     4453 non-null   object
 3   beds        4453 non-null   int64
 4   baths       4453 non-null   object
 5   receptions  4453 non-null   object
 6   more_tan_5  0 non-null      object
dtypes: int64(2), object(5)
memory usage: 278.3+ KB

In [152]:
df.baths.unique()

array(['2 baths', '1 bath', '3 baths', '4 baths', '5 baths', '6 baths',
       '11 baths'], dtype=object)

In [153]:
df.baths = df.baths.str.replace(r"\D","").astype(int)

df.loc[df.baths > 4,"more_than_4_baths"] = True

df.drop(df[df.more_than_4_baths ==True].index, inplace = True)

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4436 entries, 0 to 5768
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   agent              4436 non-null   object
 1   price              4436 non-null   int64
 2   address            4436 non-null   object
 3   beds               4436 non-null   int64
 4   baths              4436 non-null   int64
 5   receptions         4436 non-null   object
 6   more_tan_5         0 non-null      object
 7   more_than_4_baths  0 non-null      object
dtypes: int64(3), object(5)
memory usage: 311.9+ KB

In [155]:
df.receptions.unique()

array(['1 reception', '2 receptions', '3 receptions', '5 receptions',
       '4 receptions', '6 receptions', '7 receptions'], dtype=object)

In [156]:
df.receptions=df.receptions.str.replace(r"\D","").astype(int)

In [157]:
df.loc[df.receptions > 3, "more_than_3_recep"] = True

In [158]:
df.drop(df[df.more_than_3_recep == True].index, inplace=True)

In [159]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4390 entries, 0 to 5768
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   agent              4390 non-null   object
 1   price              4390 non-null   int64
 2   address            4390 non-null   object
 3   beds               4390 non-null   int64
 4   baths              4390 non-null   int64
 5   receptions         4390 non-null   int64
 6   more_tan_5         0 non-null      object
 7   more_than_4_baths  0 non-null      object
 8   more_than_3_recep  0 non-null      object
dtypes: int64(4), object(5)
memory usage: 343.0+ KB

In [160]:
df["post_code"] = df.address.str.extract(r"([A-Z]{1,2}[0-9]{1,2})")

In [161]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4390 entries, 0 to 5768
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   agent              4390 non-null   object
 1   price              4390 non-null   int64
 2   address            4390 non-null   object
 3   beds               4390 non-null   int64
 4   baths              4390 non-null   int64
 5   receptions         4390 non-null   int64
 6   more_tan_5         0 non-null      object
 7   more_than_4_baths  0 non-null      object
 8   more_than_3_recep  0 non-null      object
 9   post_code          4390 non-null   object
dtypes: int64(4), object(6)
memory usage: 377.3+ KB

In [162]:
df =df.loc[:,["agent","address","beds","receptions","baths","post_code"]]

In [163]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4390 entries, 0 to 5768
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   agent       4390 non-null   object
 1   address     4390 non-null   object
 2   beds        4390 non-null   int64
 3   receptions  4390 non-null   int64
 4   baths       4390 non-null   int64
 5   post_code   4390 non-null   object
dtypes: int64(3), object(3)
memory usage: 240.1+ KB